* {
    box-sizing: border-box
} 

body { 
    font-family: 'Montserrat', sans-serif;
    overflow-y:scroll;
}

.date {
    font-size: 14px;
}

.form-temp {
    display: flex;
    flex-direction: row;
}

.form-item {
    flex: 1;
}

button {
    display: block;
}