{% extends 'base.html' %}s
{% block title %}Create Group{% endblock %}
{% block start %}Create Group{% endblock %}
{% block body %}
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class_="form-control") }}
            </p>
            <p>
                {{ form.submit(class_="btn btn-success") }}
            </p>
        </form>
        <div>
            <a href="/groups" class="btn btn-primary">Go back to groups</a>
        </div>
    </div>
{% endblock %}