{% extends 'base.html' %}
{% block title %}todoList Homepage{% endblock %}
{% block start %}Welcome to todoList{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1>Become part of todoList!</h1>
            <p>todoList is a place, where you can store all your tasks! Forgot about using paper and pen - in XXI we are going digital.</p>
            <p>Don't have account? </p><a href="/register" class="btn btn-primary mb-3">Register!</a>
            <p>Forgot your password? </p><a href="/reset_password_request" class="btn btn-primary mb-5">Reset Password</a>
        </div>
        <div class="col-md-4 jumbotron">
            <form action="" method="post" class="login">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class_="form-control") }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class_="form-control") }}
                </p>
                <p>
                    {{ form.submit(class_="btn btn-success") }}
                </p>
            </form>
        </div>
    </div>
{% endblock %}