{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block start %}Register{% endblock %}
{% block body %}
    <div class="register-form">
        <form action="" method="post" class="login">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class_="form-control") }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class_="form-control") }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class_="form-control") }}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(class_="form-control") }}
            </p>
            <p>
                {{ form.submit(class_="btn btn-success") }}
            </p>
        </form>
        <div class="text">
            <a href="{{ url_for("index") }}" class="btn btn-primary">Go back to login page</a>
        </div>
    </div>
{% endblock %}