<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1>Welcome to todoList</h1>
    </header>
    <main>
        <div class="text">
            <h1>Reset your password</h1>
        </div>
        <div class="login-form">
            <form action="" method="post" class="login">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class_="form-elem") }}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(class_="form-elem") }}
                </p>
                <p>
                    {{ form.submit(class_="submit") }}
                </p>
            </form>
        </div>
    </main>
</body>
</html>