{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% block start %}Reset your password{% endblock %}
{% block body %}
    <main>
        <div class="login-form">
            <form action="" method="post" class="login">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class_="form-control") }}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(class_="form-control") }}
                </p>
                <p>
                    {{ form.submit(class_="btn btn-primary") }}
                </p>
            </form>
        </div>
    </main>
{% endblock %}