{% extends 'base.html' %}
{% block title %}Task {{ task.task }} {% endblock %}
{% block start %}Task: {{ task.task }} {% endblock %}
{% block body %}
    <div class="row">
        <form action="" method="post" class="col-6">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.task.label }}
                    {{ form.task(class_="form-control", value=task.task )}}
                </p>
                <p>
                    {{ form.description.label }}<br>
                    <textarea class="form-control" id="description" name="description" required rows="12">{{task.description}}</textarea>
                </p>
                <p>
                    {{ form.submit1(class_="btn btn-primary") }}
                </p>
            </form>
        <div class="container col-6">
            <form action="" method="post">
                {{ sub_form.hidden_tag() }}
                <p>
                    {{ sub_form.subtask.label }}<br>
                    {{ sub_form.subtask(class_="form-control", value="") }}
                </p>
                <p>
                    {{ sub_form.submit2(class_="btn btn-primary") }}
                </p>
            </form>
            <div class="mt-4">
                <h6 class="mb-3">Subtasks:</h6>
                {% if task.subtasks.first() %}
                    {% for subtask in task.subtasks %}
                        <div class="mb-2 row">
                            {% if subtask.is_completed %}
                                <s class="col-8">{{subtask.task}}</s>
                            {% else %}
                                <div class="col-8">{{subtask.task}}</div>
                            {% endif %}
                            <div class="col-4 row">
                                <form class="col-4 form-temp" action={{ "/change_status/" + task.id|string + "/" + subtask.id|string }}  }}>
                                    {% if subtask.is_completed %}
                                        <button type="submit" class="btn btn-warning form-item h-100"><i class="fas fa-times"></i></button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success form-item h-100"><i class="fas fa-check"></i></button>
                                    {% endif %}
                                </form>
                                <form class="col-4 form-temp" action={{ "/delete/" + task.id|string + "/" + subtask.id|string }}>
                                    <button type="submit" class="btn btn-danger w-100 h-100 form-item"><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                Add subtasks to a task!
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} 

                        